/* App.css */

/* .full-width-img {
  width: 100%; 
  height: auto; 
  display: block;
  height: 500px; 
}
.heading{
   margin-left: 350px;
   color: green;
   margin-bottom: 10px;
}
.h{
  margin-left: 420px;
  color: green;
  margin-top: 0px;
 
}
p{
  margin:300px;
  margin-top: 20px;
  color: green;
}
.info{
  background-color: lightgreen;
} */